node_modules/
dist/
.env
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-lock.yaml
pnpm-workspace.yaml

.next/
out/

.vite/

build/
.cache/
.vercel/
.temp/
turbo/

tailwind.config.js
postcss.config.js

.vscode/

.DS_Store
Thumbs.db

*.tsbuildinfo

prisma/
generated/

.supabase/
supabase/migrations/*
supabase/.temp/
supabase/functions/node_modules/

__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
pip-log.txt