node_modules/
dist/
build/
.env
.env.*.local
*.local
*.log
*.tsbuildinfo
.DS_Store

.next/
out/
.cache/
public/static/

.tailwind-cache/

.prisma/
*.db
*.sqlite

dump.rdb
*.rdb

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel/
.netlify/
firebase/

.vscode/
.idea/
*.swp
*.swo
Thumbs.db
ehthumbs.db

/client/node_modules/
/server/node_modules/